{% extends 'base.html' %}

{% block title %}Dublin Bus{% endblock %}



{% block content %}


{% load static %}


<!-- <h1 style="color:blue;text-align:center;"">The Dublin Bus App</h1> -->

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9SSiHS7Va-YfYv3RojyCeVva48AHKSqQ&callback=initMap&libraries=places&"
        async></script>

        <script src="{% static 'home.js' %}"></script>

        <div class="container-fluid">
          

          <div class="row" style="margin-top: 50px;">
            <div class="col-lg-4">
              <h3>
                Plan your Journey
                <small class="text-muted">With DublinBus</small>
              </h3>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Starting Point" aria-label="Starting Point" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">
                    <i class="bi bi-search"></i>

                  </button>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Destination" aria-label="Destination" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">
                    <i class="bi bi-search"></i>

                  </button>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="datetime" placeholder="Choose a date and time" aria-label="Choose a date and time" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">
                    <i class="bi bi-calendar-day"></i>

                  </button>
                </div>
              </div>
              <button type="button" class="btn btn-success">Search</button>

            </div>
            <div class="col-lg-8 ml-lg-auto" style="margin-bottom: 50px; ">
                <div id="map"></div>
    
            </div>
            <div class="col col-lg-2">
              
            </div>
            


          </div>



        </div>
        
	
</head>

<body>

	<script>

		// Below code sets format to the
		// datetimepicker having id as
		// datetime
		$('#datetime').datetimepicker({
			format: 'hh:mm:ss a'
		});
	</script>


{% endblock %}
   
   
